body {
	color: #fff;
	font-family: "League Spartan", sans-serif;
	font-size: 14px;
	line-height: 25px;
}
h1,
h2 {
	font-family: "Antonio", sans-serif;
}
h3,
h4 {
	font-family: "League Spartan", sans-serif;
}

@media (min-width: 768px) {
	/* Nav styles for tablet */
}

.menu-item:nth-of-type(8) {
	border-bottom: 0;
}
.Mercury-color {
	margin-right: 25px;
	background-color: #def4fc;
}
.Venus-color {
	margin-right: 25px;
	background-color: #f7cc7f;
}
.Earth-color {
	margin-right: 25px;
	background-color: #545bfe;
}
.Mars-color {
	margin-right: 25px;
	background-color: #ff6a45;
}
.Jupiter-color {
	margin-right: 25px;
	background-color: #ecad7a;
}
.Saturn-color {
	margin-right: 25px;
	background-color: #fccb6b;
}
.Uranus-color {
	margin-right: 25px;
	background-color: #65f0d5;
}
.Neptune-color {
	margin-right: 25px;
	background-color: #497efa;
}

/* Custom MEDIA QUEIRES */
@media (min-width: 1439px) {
	/* Nav styles for desktop */
	.menu-item:nth-of-type(1):hover {
		border-top: 4px solid #419EBB;
	}
	.menu-item:nth-of-type(2):hover {
		border-top: 4px solid #EDA249;
	}
	.menu-item:nth-of-type(3):hover {
		border-top: 4px solid #6D2ED5;
	}
	.menu-item:nth-of-type(4):hover {
		border-top: 4px solid #D14C32;
	}
	.menu-item:nth-of-type(5):hover {
		border-top: 4px solid #D83A34;
	}
	.menu-item:nth-of-type(6):hover {
		border-top: 4px solid #CD5120;
	}
	.menu-item:nth-of-type(7):hover {
		border-top: 4px solid #1EC1A2;
	}
	.menu-item:nth-of-type(8):hover {
		border-top: 4px solid #2D68F0;
	}
}
