body {
	color: #fff;
	font-family: "League Spartan", sans-serif;
	font-size: 14px;
	line-height: 25px;
}
h1,
h2 {
	font-family: "Antonio", sans-serif;
}
h3,
h4 {
	font-family: "League Spartan", sans-serif;
}

@media (min-width: 768px) {
	/* Nav styles for tablet */
}

@media (min-width: 1440px) {
	/* Nav styles for desktop */
}
.menu-item:nth-of-type(8) {
	border-bottom: 0;
}
.Mercury-color {
	margin-right: 25px;
	background-color: #DEF4FC;
}
.Venus-color {
	margin-right: 25px;
	background-color: #F7CC7F;
}
.Earth-color {
	margin-right: 25px;
	background-color: #545BFE;
}
.Mars-color {
	margin-right: 25px;
	background-color: #FF6A45;
}
.Jupiter-color {
	margin-right: 25px;
	background-color: #ECAD7A;
}
.Saturn-color {
	margin-right: 25px;
	background-color: #FCCB6B;
}
.Uranus-color {
	margin-right: 25px;
	background-color: #65F0D5;
}
.Neptune-color {
	margin-right: 25px;
	background-color: #497EFA;
}